.Items {
    padding: 5px;
    border: 0.5px;
}

.ListItems {
    background-color: aqua;
    height: 25px;
    padding: 4%;
    font-size: 25px;
}

.ProductList {
    width: 30%;
    text-align: center;
}